{% extends 'base.html'%}

{% block body%}
{%if user.is_authenticated and user.is_superuser%}

<div class="container center">
    <h1>Add Venue to the database</h1>

    {% if submitted %}
    <h5>Your Venue was Submitted Successfully!!!</h5>

    {% else %}
       <form action="" method=POST>
        {% csrf_token %}
        {{addVenueForm.as_p}}

    <input type="submit" class="btn btn-secondary" value="Submit">

    </form>

    {% endif %}

 
</div>
{%else%}
<h3>Sorry! Only user with admin rights is allowed to add Venues</h3>
{%endif%}
{% endblock%}